// .TimeLime {
//     // font-family: 'Nanum Pen Script', cursive;
//     // font-weight: 200;
//     // font-size: 20px;
// }

a {
    text-decoration:none;
}

a:link {text-decoration: none; color: #838cff;}
a:visited {text-decoration: none; color: #838cff;}
a:active {text-decoration: none; color: #838cff;}
a:hover {text-decoration: none; color: #838cff;}